@media (max-width:900px) {
    .buttons{
        padding-top: 0px;
    }

    img.frame{
        width: 100%;
        height: 100%;
    }

    .main-box{
        width: 90%;
    }

    .p-card{
        width: 240px;
        height: 320px;
    }

    .triangles{
        display:none;
    }

}