@media (max-width:900px) {
    .main-box{
        width: 90%;
    }

    .buttons{
        padding-top: 0px;
    }

    .triangles{
        display:none;
    }

    .p-card{
        width: 240px;
        height: 320px;
    }
}